<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/bootstrap/css/bootstrap.min.css' %}">





</head>

<!--I want to make my footer stay in one position in pages that have nothing -->
<body class="d-flex flex-column min-vh-100">

<header>

    <nav class="navbar navbar-expand-lg bg bg-success">   <!--change the background here -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tomato</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}"><strong>Home</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}"><strong>About</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><strong>Gallery</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}"><strong>Contact</strong></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</header>

{% block content %}


{% endblock %}

<footer class="bg-dark text-white text-center py-4 mt-auto">
    <p>© 2024 Tomato Food Network | All Rights Reserved</p>
    <ul class="list-unstyled">
        <li><a href="#" class="text-white">Privacy Policy</a></li>
        <li><a href="#" class="text-white">Terms of Service</a></li>
        <li><a href="#" class="text-white">Contact Us</a></li>
    </ul>
</footer>



<script src="{% static 'style/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>